<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/27517fada0.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/js/generales.js"></script>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="icon" href="img/logosolo.png">
    <link rel="stylesheet" href="/css/guardarropas.estilos.css">
    <title>Usuarios</title>
  </head>
  <body id="body">
    <header>
      <img src="/img/qmp-logo.png" alt="utn logo" class="utnLogo">
    </header>

    <div class="main_container">
      <h1 class="encabezado"><i class="fas fa-users"></i> Usuarios</h1>
      <input type="text" name="" value="" placeholder="Buscar" id="inputUsuario">
      <!-- <a href="/usuario_insertar" class="btn-verde fuente"><i class="fas fa-user-plus" style="margin-bottom:25px;"></i> Nuevo usuario</a> -->
      <table class="tabla" id="tabla">
        <thead>
           <th><i class="fas fa-user"></i> Id</th>
          <th><i class="fas fa-user"></i> Usuario</th>
          <th><i class="fas fa-envelope"></i> Email</th>
          <th><i class="fas fa-phone"></i> Celular</th>
     <!--      <th><i class="fas fa-user-cog"></i> Premium</th> -->
          <th><i class="fas fa-tools"></i> Acciones</th>
        </thead>
        <tbody>
        {{#each usuarios}}
        <tr>
            <td>{{id}}</td>
            <td>{{nombreDeUsuario}}</td>
            <td>{{correo}}</td>
            <td>{{celular}}</td>
           <!--  <td>{{premium}}</td> -->
            <td><!-- Acciones -->
                <!--<a href="/usuario/{{id}}" name="button" style="margin:0px;" class="btn btn-border btn-border-blue" ><i class="far fa-eye"></i></a>-->
                <div style="position: relative;display: inline-block;margin-right: 5px;">
                  <a href="/usuario/{{id}}" name="button" class=" btnCelda btn-edit"><i class="fas fa-user-edit"></i></a>
                 <button type="button" name="button" class="btnCelda" onclick="confirmarEliminacionUsuario('{{id}}')"><i class="fas fa-trash"></i></button>
            
                </div>
             </td>   
        </tr>
        {{/each}}
        </tbody>
      </table>
      <a href="/" class="btn-rojo" style="float:left;" title="Volver a la pantalla principal">Volver</a>

       <a href="javascript:document.location.reload();" class="btn-rojo" title="Actualizar la página"><i class="fas fa-sync-alt" style="float: right;"></i> Actualizar </a>

  </body>


  <!-- ================= MODAL ELIMINACION ================== -->
  <div class="modalEliminar modal" id="modalEliminar">
    <div class="modalContent">
        <input id="userId" type="hidden" value="">
      <p>¿Desea eliminar el usuario?</p>
      <button type="button" name="button" class="btn-close-modal" onclick="cerrarModal()" ><i class="fas fa-times-circle"></i></button>
      <br>
      <div class="">
        <button type="button" name="button" class="btn-rojo" onclick="eliminarUsuario()">Eliminar</button>
        <button type="button" name="button" class="btn-cancelar" onclick="cerrarModal()">Cancelar</button>
      </div>
    </div>
  </div>
  <!-- ================= FIN MODAL ELIMINACION ================== -->

</html>